{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Utilisateur</title>
    <link rel="stylesheet" href="{% static 'utilisateur/style.css' %}">
</head>
<body>
    <h1>Les utilisateurs</h1>
    <ul>
        {% for utilisateur in utilisateurs %}
            <li>{{ utilisateur.email_utilisateur }}</li>
        {% endfor %}
    </ul>
</body>
</html>