{% load static %}

<!DOCTYPE html>
<html lang="fr-fr"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tohy</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- css -->
  <link rel="stylesheet" href="{% static 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bower_components/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dist/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dist/css/skins/_all-skins.min.css' %}">
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <!-- nav -->
  {% include './partials/_header.html' %}
  <!-- sidebar -->
  {% include './partials/_sidebar.html' %}

 <!-- content -->
  <div class="wrapper">
    <div class="content-wrapper">
        {% block content %}
          Default content
        {% endblock content %}
    </div>
  </div>

  <!-- footer -->
  {% include './partials/_footer.html' %}

  <!-- js -->
  <script src="{% static 'assets/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/dist/js/adminlte.min.js' %}"></script>
</body>
</html>