{% load static %}
<header class="main-header" style="background-color: rgb(51, 56, 72);">
    <a href="#" class="logo" style="background-color: rgb(51, 56, 72);">
        <span class="logo-mini"><img src="{% static 'assets/img/logo.png' %}" width="45px" height="45px"></span>
        <span class="logo-lg"><b><img src="{% static 'assets/img/logo.png' %}" width="45px" height="45px"></b>&nbsp; HL-dev</span>
    </a>

    <nav class="navbar navbar-static-top" style="background-color: rgb(51, 56, 72);">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">Compte utilisateur</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-sign-out"></i>
            </a>
            <ul class="dropdown-menu" style="width:130px">
                <li class="user-footer"style="background-color: rgb(51, 56, 72);">
                <div class="">
                    <a href="#" class="btn btn-default btn-block">Profil</a>
                </div>
                <div class="divider"></div>
                <div class="">
                    <a href="#" class="btn btn-default btn-block">Deconnecter</a>
                </div>
                </li>
            </ul>
            </li>
        </ul>
        </div>
    </nav>
</header>