{% load static %}
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="visible-lg img-responsive" style="overflow: hidden;">
        <img  src="" >
        </div>

        <ul class="sidebar-menu" data-widget="tree">
        <li class="">
            <a href="#">
            <i class="fa fa-home"></i> <span>Accueil</span>
            </a>
        </li>

        <li class="header"><i class="fa  fa-building-o"></i>&nbsp; MENU</li>
    
        <li class="treeview" id="menu-chapitre"  >
            <a href="#" >
            <i class="fa fa-chain"></i> <span>Administrateur</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-align-justify"></i> Liste </a></li>
            <li><a href="#"><i class="fa fa-plus-square"></i> Ajout </a></li>
            </ul>
        </li>

        <li class="treeview" id="menu-paragraphe"  >
            <a href="#">
            <i class="fa fa-chain"></i> <span>Introduction</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-align-justify"></i> Liste </a></li>
            <li><a href="#"><i class="fa fa-plus-square"></i> Ajout </a></li>
            </ul>
        </li>

        <li class="treeview" id="menu-paragraphe"  >
                <a href="#">
                <i class="fa fa-chain"></i> <span>Detail introduction</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-align-justify"></i> Liste </a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i> Ajout </a></li>
                </ul>
        </li>

        <li class="treeview" id="menu-paragraphe"  >
                <a href="#">
                <i class="fa fa-chain"></i> <span>Parcours</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-align-justify"></i> Liste </a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i> Ajout </a></li>
                </ul>
        </li>

        <li class="treeview" id="menu-paragraphe"  >
                <a href="#">
                <i class="fa fa-chain"></i> <span>Réalisation</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-align-justify"></i> Liste </a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i> Ajout </a></li>
                </ul>
        </li>

        <li class="treeview" id="menu-paragraphe"  >
                <a href="#">
                <i class="fa fa-chain"></i> <span>Contact</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-align-justify"></i> Liste </a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i> Ajout </a></li>
                </ul>
        </li>

        <li><a href="#"><i class="fa  fa-list-alt"></i> <span>Historique</span></a></li>

        </ul>
    </section>
</aside>